.containers {
    height: 95vh;
    overflow-y: auto;
}
div.meta {}
.title {
    margin: 20px 0 40px 0;
}
.error {
    color: #9a3b3b;
}
.extra-info {
    margin-top: 30px;
}
.container-backend {
    margin: 50px 0 20px 0;
}
div.value {
    text-overflow: ellipsis;
}
.hide {
    display: none;
}
h1.ui.header {
    font-size: 38pt;
}
.logo {
    width: 80%;
    height: 80%;
}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
img.center {
    display: block;
    margin: 0 auto;
}
.request-counter {
    margin: 40px 0 50px;
}
.serving {
    opacity: 0.7;
}

#replica {
    background-color: black;
    padding: 5px;
}

@media screen and (min-width: 990px) and (max-width: 1425px) {
    .view-computer{
        visibility: hidden;
        display: none;
        clear: both;
    }
}
@media screen and (min-width: 1425px) {
    .view-computer{
        visibility: show;
        display: block;
        clear: both;
    }
}
